<h1 class="text-center ffh">О нас</h1>
<div class="col-md-12">
  <div class="col-md-7" style=" padding: 0px 15px 0px 15px">
    <h2 class="ffh text-center">Кто мы?</h2>
    <hr />
    <p style="padding: 0px 15px 0px 15px" >Мы <b style="color: dodgerblue">Cloud Nine</b>, компания которая дорожит своей репутацией, производя только качественный продукт с помощью новейших технологий.
    Мы найдем индивидуальный подход к каждому клиенту, и реализуем любые Ваши задумки. </p>
  </div>
  <div class="col-md-4" style="float: right">
    <div class="comment">
      <h2 class="ffh text-center">Отзывы наших клиентов</h2>
      <hr/>
      <table>
        <tr>
          <td>
            <%= image_tag("radianceu", width: '75px', height: '75px', class: 'img-circle comment-img') %>
          </td>
          <td style="display: block; padding: 0px 15px 0px 15px">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic </p>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>